audio
dataset/
data
./data/*
./data/*/*
./data/*/*/*
logs
./logs/*
./logs/*/*
synth_data
synth_data/*
wavlm
wavlm/*
speaker_encoder/ckpt/*
finetune
finetune/*
finetune/*/*
finetune/*/*/*
*.pyc
*.pt
*.pth
*.npy
./experiment_harsha.ipynb
./experiment_javier.ipynb
./experiment_fernando.ipynb
./experiment_georgina.ipynb
./experiment_vanessa.ipynb
./experiment_ward.ipynb
./run_continuation.py
./extensive_tester.py
./female_lj_converter.py
./hifigan
./cpps.txt
./CPPsVC.ipynb
./CreakVC.ipynb
./csv_creator.py
./error.txt
./error2.txt
./extensive_tester.ipynb
./h1h2.py
./length_checker.py
./length_sorter.py
./obj_plotter.ipynb
./obj_plotter.py
./similarity.py
./test_audio